.Control {
    display: flex;
    background-color: #F7F9FB;
    flex-direction: column;
    min-width: 900px;
}

.Control .control_button {
    display: flex;
    width: 100%;
    gap: 8px;
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 15px;
    box-sizing: border-box;
}

.Control .control_threeD {
    display: flex;
    justify-content: space-evenly;
    margin: 35px 50px;
}

.Control .control_threeD .threeD_view {
    flex: 1;
    height: 400px;
    min-width: 300px;

    overflow: hidden;
    transition: all 0.6s ease;
    border: 1px solid #DDE3EA;
    background-color: rgba(196, 247, 253, 0.137);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.Control .control_threeD .threeD_controller {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.Control .control_threeD .threeD_status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}