.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.Home .main_wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    background-color: rgba(255, 255, 255, 0.7);
}

.Home .image_container {
    display: flex;
    justify-content: flex-end;
}

.Home .image_container>img {
    width: 500px;
    height: auto;
    display: block;
}

.Home .explain_container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    white-space: pre-line;
}

.Home .explain_container .explain_title {
    padding: 0 20px;
    font-size: 25px;
}

.Home .explain_container .explain_title svg {
    bottom: 3px;
    color: #13A6F2;
}


.Home .explain_container .explain_subtitle {
    font-size: 20px;
    color: #757575;
    line-height: 1.45em;
}

.Home .explain_container .explain_function {
    display: flex;
    gap: 20px;
    margin: 50px 0 0 20px;
    justify-content: center;
}

.Home .Feature_container {
    padding: 0 50px;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
}