.Button button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #E3E3E3;
    cursor: pointer;
}

.Button .Button_basic {
    background-color: #E3E3E3;
    color: #1E1E1E;
}

.Button .Button_create_account {
    background-color: #4998AD;
    color: white;
    border: none;
}

.Button .Button_login {
    background-color: transparent;
    border: 1px solid #E3E3E3;
}


.Button .Button_go_login {
    background-color: #4998AD;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    width: 300px;
}

.Button .Button_menu {
    background-color: transparent;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    padding: 8px;
}

.Button .Button_menu:hover,
.Button .Button_menu.active {
    background-color: #F5F5F5;
}

.Button .Button_pagination {
    background-color: white;
    border-radius: 10px;
    border: none;
}

.Button .Button_pagination:hover,
.Button .Button_pagination.active {
    background-color: #2C2C2C;
    color: white;
}

.Button .Button_barrier_control {
    background-color: #E8F4FD;
    border: 2px solid #E2E8F0;
    font-size: 16px;
    color: #1565C0;
}

.Button .Button_barrier_control.active {
    background-color: #1565C0;
    color: white;
}

.Button .Button_water_control {
    background-color: #F2FAFF;
    color: #0277BD;
    font-size: 16px;
    border: 2px solid #E2E8F0;
}

.Button .Button_water_control.active {
    background-color: #0277BD;
    color: white
}

.Button .Button_threeD_controller_open {
    background-color: #E8F1FF;
    color: #1A73E8;
    border: none;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.Button .Button_threeD_controller_close {
    background-color: #ECEFF1;
    color: #263238;
    border: none;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.Button .Button_threeD_controller_auto_true {
    background-color: #FFE8E8;
    color: #D93025;
    border: none;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.Button .Button_threeD_controller_auto_false {
    background-color: #57C277;
    color: white;
    border: none;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}


.Button_threeD_controller_open:disabled,
.Button_threeD_controller_close:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}