.FeatureCard {
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.30);
    text-align: left;
    padding: 0 10px;
    width: 50%;
    background-color: white;
    font-size: 16px;
}

.FeatureCard .featurecard_title {
    font-weight: bold;
    color: #757575;
    display: flex;
    gap: 5px;
}

.FeatureCard .featurecard_title svg {
    top: 2px;
    font-size: 21px;
}

.FeatureCard .featurecard_title.waves svg {
    color: #104FA4;
}

.FeatureCard .featurecard_title.setting svg {
    color: #7D8B94;
}

.FeatureCard .featurecard_subtitle {
    color: #9e9d9d;
}