.TimeSlotCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 95px;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 2px solid #E2E8F0;
    margin: 10px 5px;
    padding: 20px 5px;
}

.TimeSlotCard .timeSlotCard_time {
    color: #1E293B;
    font-size: 21px;
    font-weight: bold;
}

.TimeSlotCard .timeSlotCard_status {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.TimeSlotCard .timeSlotCard_status .status_img {
    border-radius: 20px;
    object-fit: cover;
    width: 30px;
    height: 30px;
}